<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bird_01</string>
	<string>Bird_02</string>
	<string>Bird_03</string>
	<string>Bird_04</string>
	<string>Bird_05</string>
	<string>Bird_06</string>
	<string>Bird_07</string>
	<string>Bird_08</string>
	<string>Bird_09</string>
	<string>Bird_10</string>
	<string>Bird_11</string>
	<string>Bird_12</string>
	<string>Bird_13</string>
	<string>Bird_14</string>
	<string>Bird_15</string>
	<string>Bird_16</string>
	<string>Bird_17</string>
	<string>Bird_18</string>
    <string>Bird_01</string>
    <string>Bird_02</string>
    <string>Bird_03</string>
    <string>Bird_04</string>
    <string>Bird_05</string>
    <string>Bird_06</string>
    <string>Bird_07</string>
    <string>Bird_08</string>
    <string>Bird_09</string>
    <string>Bird_10</string>
    <string>Bird_11</string>
    <string>Bird_12</string>
    <string>Bird_13</string>
    <string>Bird_14</string>
    <string>Bird_15</string>
    <string>Bird_16</string>
    <string>Bird_17</string>
    <string>Bird_18</string>
</array>
</plist>
