<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Circle_01</string>
	<string>Circle_02</string>
	<string>Circle_03</string>
	<string>Circle_04</string>
	<string>Circle_05</string>
	<string>Circle_06</string>
	<string>Circle_07</string>
	<string>Circle_08</string>
	<string>Circle_09</string>
	<string>Circle_10</string>
	<string>Circle_11</string>
	<string>Circle_12</string>
	<string>Circle_13</string>
	<string>Circle_14</string>
	<string>Circle_15</string>
	<string>Circle_16</string>
	<string>Circle_17</string>
	<string>Circle_18</string>
	<string>Circle_19</string>
	<string>Circle_20</string>
	<string>Circle_21</string>
	<string>Circle_22</string>
</array>
</plist>
