<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>City_02</string>
	<string>City_03</string>
	<string>City_04</string>
	<string>City_05</string>
	<string>City_06</string>
	<string>City_07</string>
	<string>City_08</string>
	<string>City_09</string>
	<string>City_10</string>
	<string>City_11</string>
	<string>City_12</string>
	<string>City_13</string>
	<string>City_14</string>
	<string>City_15</string>
	<string>City_16</string>
	<string>City_17</string>
</array>
</plist>
