<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DayNight_01</string>
	<string>DayNight_02</string>
	<string>DayNight_03</string>
	<string>DayNight_04</string>
	<string>DayNight_05</string>
	<string>DayNight_06</string>
	<string>DayNight_07</string>
	<string>DayNight_08</string>
	<string>DayNight_09</string>
	<string>DayNight_10</string>
	<string>DayNight_11</string>
	<string>DayNight_12</string>
	<string>DayNight_13</string>
	<string>DayNight_14</string>
	<string>DayNight_15</string>
	<string>DayNight_16</string>
	<string>DayNight_17</string>
	<string>DayNight_18</string>
	<string>DayNight_19</string>
	<string>DayNight_20</string>
	<string>DayNight_21</string>
	<string>DayNight_22</string>
	<string>DayNight_23</string>
	<string>DayNight_24</string>
	<string>DayNight_25</string>
	<string>DayNight_26</string>
	<string>DayNight_27</string>
	<string>DayNight_28</string>
	<string>DayNight_29</string>
	<string>DayNight_30</string>
	<string>DayNight_31</string>
	<string>DayNight_32</string>
	<string>DayNight_33</string>
	<string>DayNight_34</string>
	<string>DayNight_35</string>
	<string>DayNight_36</string>
	<string>DayNight_37</string>
	<string>DayNight_38</string>
	<string>DayNight_39</string>
	<string>DayNight_40</string>
	<string>DayNight_41</string>
	<string>DayNight_42</string>
	<string>DayNight_43</string>
	<string>DayNight_44</string>
	<string>DayNight_45</string>
</array>
</plist>
