<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Earth_01</string>
	<string>Earth_02</string>
	<string>Earth_03</string>
	<string>Earth_04</string>
	<string>Earth_05</string>
	<string>Earth_06</string>
	<string>Earth_07</string>
	<string>Earth_08</string>
	<string>Earth_09</string>
	<string>Earth_10</string>
	<string>Earth_11</string>
	<string>Earth_12</string>
	<string>Earth_13</string>
	<string>Earth_14</string>
	<string>Earth_15</string>
	<string>Earth_16</string>
	<string>Earth_17</string>
	<string>Earth_18</string>
</array>
</plist>
