<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ManJump_00</string>
	<string>ManJump_01</string>
	<string>ManJump_02</string>
	<string>ManJump_03</string>
	<string>ManJump_04</string>
	<string>ManJump_05</string>
	<string>ManJump_06</string>
	<string>ManJump_07</string>
	<string>ManJump_08</string>
	<string>ManJump_09</string>
</array>
</plist>
