<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SmallBird_01</string>
	<string>SmallBird_02</string>
	<string>SmallBird_03</string>
	<string>SmallBird_04</string>
	<string>SmallBird_05</string>
	<string>SmallBird_06</string>
	<string>SmallBird_07</string>
	<string>SmallBird_08</string>
	<string>SmallBird_09</string>
	<string>SmallBird_10</string>
	<string>SmallBird_11</string>
	<string>SmallBird_12</string>
	<string>SmallBird_13</string>
	<string>SmallBird_14</string>
	<string>SmallBird_15</string>
	<string>SmallBird_01</string>
	<string>SmallBird_02</string>
	<string>SmallBird_03</string>
	<string>SmallBird_04</string>
	<string>SmallBird_05</string>
	<string>SmallBird_06</string>
	<string>SmallBird_07</string>
	<string>SmallBird_08</string>
	<string>SmallBird_09</string>
	<string>SmallBird_10</string>
	<string>SmallBird_11</string>
	<string>SmallBird_12</string>
	<string>SmallBird_13</string>
	<string>SmallBird_14</string>
	<string>SmallBird_15</string>
</array>
</plist>
