<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Smile_01</string>
	<string>Smile_02</string>
	<string>Smile_03</string>
	<string>Smile_04</string>
	<string>Smile_05</string>
	<string>Smile_06</string>
	<string>Smile_07</string>
	<string>Smile_08</string>
	<string>Smile_09</string>
	<string>Smile_10</string>
	<string>Smile_11</string>
	<string>Smile_12</string>
	<string>Smile_13</string>
	<string>Smile_14</string>
	<string>Smile_15</string>
	<string>Smile_16</string>
	<string>Smile_17</string>
</array>
</plist>
