<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SunMoon_01</string>
	<string>SunMoon_02</string>
	<string>SunMoon_03</string>
	<string>SunMoon_04</string>
	<string>SunMoon_05</string>
	<string>SunMoon_06</string>
	<string>SunMoon_07</string>
	<string>SunMoon_08</string>
	<string>SunMoon_09</string>
	<string>SunMoon_10</string>
	<string>SunMoon_11</string>
	<string>SunMoon_12</string>
	<string>SunMoon_13</string>
	<string>SunMoon_14</string>
	<string>SunMoon_15</string>
	<string>SunMoon_16</string>
	<string>SunMoon_17</string>
	<string>SunMoon_18</string>
	<string>SunMoon_19</string>
	<string>SunMoon_20</string>
</array>
</plist>
