<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tick_01</string>
	<string>Tick_02</string>
	<string>Tick_03</string>
	<string>Tick_04</string>
	<string>Tick_05</string>
	<string>Tick_06</string>
	<string>Tick_07</string>
	<string>Tick_08</string>
	<string>Tick_09</string>
	<string>Tick_10</string>
	<string>Tick_11</string>
	<string>Tick_12</string>
	<string>Tick_13</string>
	<string>Tick_14</string>
	<string>Tick_15</string>
	<string>Tick_16</string>
	<string>Tick_17</string>
	<string>Tick_18</string>
</array>
</plist>
